<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple form</title>
    <link rel="stylesheet" th:href="@{/resources/example.css}">
</head>
<body>
<h1 id="registration-header">Registration</h1>
<form th:action="@{/prg/save}" th:object="${person}" method="post">


    <div>
        <label for="username">Username</label>
        <input id="username" th:field="*{username}"/>
    </div>

    <div>
        <label for="email">E-mail</label>
        <input id="email" th:field="*{email}"/>
    </div>
    <div>
        <label for="person-birth-date">Date of birth:</label>
        <input type="date" th:field="*{birthday}" id="person-birth-date"/>
    </div>

    <button type="submit">Save person</button>
</form>
</body>
</html>
